<header class="js-header" id="js-header">
	<nav id="js-navbar" class="navbar justify-content-center">
		<ul class="nav" id="js-navbar">
			<li class="nav-list-item">
				<a class="nav-link js-nav-link" data-nav="js-hero">Start</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-link js-nav-link" data-nav="js-section-tech">Tech Stack</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-link js-nav-link" data-nav="js-section-social">Social</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-link js-nav-link" data-nav="js-section-projects">Portfolio</a>
			</li>
		</ul>
	</nav>
</header>