nav {
	min-height: 50px;

	background-color: $white;
	box-shadow: 0 10px 17px 8px #00000012;

	.nav-link {
		color: $black;
		cursor: pointer;

		@include media-breakpoint-up(lg) {
			&:hover {
				color: $black;
				text-decoration: underline;
			}
		}
	}

	&.is-fixed {
		position: fixed;
		z-index: 9999;
		top: 0;

		width: 100%;
	}

	.active {
		font-weight: bold;

		&:hover {
			text-decoration: none;
		}
	}
}