.hero {
	position: relative;

	.hero-image {
		@include aspect-ratio(1, 1.75);

		max-height: calc(100vh - 56px);
		margin-bottom: 0;

		@include media-breakpoint-up(lg) {
			@include aspect-ratio(16, 9);

			max-height: none;
		}
	}

	.hero-information {
		position: absolute;
		top: 0;

		width: 100%;
		height: 46%;
		padding: 50px;

		@include media-breakpoint-up(lg) {
			align-items: flex-start;

			width: 100%;
			max-width: 50%;
			height: 100%;
			padding-left: 100px;
		}

		.h1,
		h1 {
			width: 100%;
		}
	}

	h2,
	.h2 {
		background-color: #FBB13C;
	}

	h1,
	.h1,
	h2,
	.h2 {
		text-align: center;

		@include media-breakpoint-up(lg) {
			text-align: left;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}